<%- include("partials/header"); -%>

<h1>Home</h1>

<p> <%= startingContent %> </p>
<% posts.forEach(function(i){ %>
    <h1> <%= i.title; %> </h1>
  <p> <%= i.content.substring(0,300); %>... 
  <a href="/post/<%- i.title -%>" >Read More</a>
  </p> 
    <% }); %>



<%- include("partials/footer"); -%> 
